* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

nav {
    padding: 1em;
    display: flex;
}

.blog-post, .intro {
    padding: 1em;
    max-width: 90%;
}

.screenshot-img {
    max-width: 100%;
}

li {
    list-style: none;
}